html {
	touch-action: manipulation;
}
html,body,#app{
    height:100%
}
body{
    margin:0;
    font-family: Helvetica Neue, sans-serif;
}
canvas{
    display:block;
    width: 100%;
    height: 100%;
}
[v-cloak] {
	display: none;
}
.app-canvas {
	overflow: hidden;
    background-color:#aaa;
    height: 100%;
}
.app-canvas.active {
	cursor: move;
}
.app-controls {
    width: 100%;
    padding: 80px 0px 0px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 50%;
    background: #fff;
    border-top: 1px solid #ddd;
    display: flex;
}
.app-controls-inner {
	padding: 0 20px;
	overflow: auto;
	width: 100%;
	background: #f9f9f9;
}
.app-block {
	padding: 5px 0;
	margin: -10px;
	display: flex;
	flex-wrap: wrap;
}
.app-group {
	border: 1px solid #e3dfdf;
	padding: 20px;
	margin-bottom: 20px;
	background: #fff;
}
.app-item {
	padding: 10px;
	min-width: 50%;
	box-sizing: border-box;
	flex: 1;
}
.app-item-label {
	font-size: 12px;
    padding-bottom: 5px;
    color: #555;
}
.app-block .el-input-number {
	width: auto;
}
.el-dialog__wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}
.el-dialog__wrapper.print .el-dialog__body {
	text-align: center;
}
.el-dialog {
	max-width: 400px;
	width: auto;
	flex: 1 0 auto;
	margin: 20px !important;
}
.el-dialog__footer {
	overflow: hidden;
}
.dialog-footer {
	display: flex;
	justify-content: flex-end;
}
.app-toggle {
	position: absolute;
	top: 20px;
	left: 50%;
	margin-left: -25px;
}
.app-toggle button {
	margin: 0;
}
.app-controls.closed .app-toggle button,
.app-toggle button:first-child {
	display: none;
}
.app-controls.closed .app-toggle button:first-child {
	display: block;
}
.app-controls.closed .app-controls-inner{
	display: none;
}

.el-radio-group {
	display: block;
}
.el-radio.is-bordered{
	display: block;
	margin: 0;
}
.el-radio.is-bordered + .el-radio.is-bordered {
	margin: 12px 0 0;
}
.keys {
	display: grid;
    width: 170px;
}
.keys .el-button {
	margin: 0;
}
.keys .el-button:first-child {
    grid-row: 1/2;
    grid-column: 2/3;
}
.keys .el-button:nth-child(2),
.keys .el-button:nth-child(3),
.keys .el-button:nth-child(4) {
	grid-row: 2/3;
}
.btn-print {
	width: 100%;
	margin-bottom: 20px;
}
.el-button-group {
	display: flex;
}
.el-button-group .el-button {
	flex: 1 0 auto;
}
@media screen and (min-width: 640px) {
	.app {
		display: flex;
		flex-direction: row;
	}
	.app-canvas {
	    flex: 1 1 auto;
	}
	.app-controls {
		width: 400px;
		flex: 0 1 auto;
		position: static;
		max-height: 100%;
		padding-top: 0;
	}
	.app-controls-inner {
		padding-top: 20px;
	}
	.app-controls.closed .app-controls-inner {
		display: block;
	}
	.app-toggle {
		display: none;
	}
}