html,body,#app{
    height:100%
}
body{
    margin:0;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
}
canvas{
    display:block;
    width: 100%;
    height: 100%;
}

.app {
	display: flex;
}
.app-canvas,
.app-controls {
	flex: 1 1 auto;
}
.app-canvas {
	overflow: hidden;
    background-color:#ddd;
}
.app-controls {
	width: 400px;
	flex: 0 1 auto;
	padding: 40px;
	box-sizing: border-box;
}
.el-button-group,
.app-object,
.app-filter {
	padding: 20px 0;
}
.app-object {
	margin: 0 -10px;
	display: flex;
	flex-wrap: wrap;
}
.app-object-prop {
	padding: 0 10px 20px;
	max-width: 50%;
	box-sizing: border-box;
}
.app-object .el-input-number {
	width: 100%;
}
.el-dialog__footer {
	overflow: hidden;
}
.dialog-footer {
	display: flex;
	justify-content: flex-end;
}