html,body,#app{
    height:100%
}
body{
    margin:0;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
}
canvas{
    display:block;
    width: 100%;
    height: 100%;
}

.app {
	display: flex;
	flex-direction: column;
}
.app-canvas,
.app-controls {
	flex: 1 1 auto;
}
.app-canvas {
	overflow: hidden;
    background-color:#ddd;
}
.app-canvas.active {
	cursor: move;
}
.app-controls {
	width: 400px;
	flex: 0 1 auto;
	padding: 40px;
	box-sizing: border-box;
}
.app-block {
	padding: 5px 0;
	margin: -10px;
	display: flex;
	flex-wrap: wrap;
}
.app-group {
	border: 1px solid #e3dfdf;
	padding: 20px;
	margin-bottom: 20px;
}
.app-item {
	padding: 10px;
	min-width: 50%;
	box-sizing: border-box;
	flex: 1;
}
.app-item-label {
	font-size: 12px;
    padding-bottom: 5px;
    color: #555;
}
.app-block .el-input-number {
	width: auto;
}
.el-dialog__wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}
.el-dialog {
	max-width: 400px;
	width: auto;
	flex: 1 0 auto;
	margin: 20px !important;
}
.el-dialog__footer {
	overflow: hidden;
}
.dialog-footer {
	display: flex;
	justify-content: flex-end;
}
@media screen and (min-width: 900px) {
	.app {
		display: flex;
		flex-direction: row;
	}
}